# RetroAchievements configuration file

# RetroAchievements credentials
username=odelot
password=

# Show popup when a challenge indicator appears (1=yes, 0=no)
show_challenge_show_popup=1

# Show popup when a challenge indicator disappears / is missed (1=yes, 0=no)
show_challenge_hide_popup=0

# Show popup for achievement progress updates (1=yes, 0=no)
show_progress_popups=1

# Include achievement name in progress popups (1=yes, 0=no)
show_progress_name=1

# Show leaderboard update popups (STARTED, FAILED, TRACKER SHOW/UPDATE) (1=yes, 0=no)
show_leaderboards_updates=1

# Show leaderboard submission popups (SUBMITTED and SCOREBOARD result) (1=yes, 0=no)
show_leaderboards_submission=1

# Turn on debug logging (1=yes, 0=no)
debug=0

# Enable hardcore mode for supported cores (1=yes, 0=no)
hardcore=0

# Force hardcore mode on unsupported cores (1=yes, 0=no)
force_hardcore=0

# Clear GBA IWRAM and EWRAM before each game load to prevent stale-RAM false
# positives in RetroAchievements (1=yes [default], 0=no)
gba_reset_ram=1

# Show achievement title and descriptions with two lines of text in the OSD (1=yes, 0=no)
multiline_desc=0